In [9]:
n=range(1,6)
for i in n:
    for j in range(i+1):
        print(j,end=" ")
    print(" ")

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [19]:
a=0
n = int(input("Enter a number: "))
for i in range(1,n+1,1):
    a+=i
print(a)

Enter a number: 100
5050

In [22]:
a=range(1,11)
for i in a:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [50]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    
    if i>500:            
                break
        
    elif i>150:            
                continue
    elif i%5==0:            
             print(i)

75
150
145

In [59]:

n=5
k=5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=" ")
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [66]:
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

In [67]:
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item)

50
40
30
20
10

In [75]:
list1 = [10, 20, 30, 40, 50]
for i in list1:
    print(i)

10
20
30
40
50

In [80]:
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [90]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [100]:
for num in range(25,50):
     if num > 1:
        for i in range(2, num):
            
            if (num % i) == 0:
               
                break
       
        else:
             print(num)

29
31
37
41
43
47

In [103]:
num=int(input("Enter any number: "))
for i in range(1, num + 1):
        
        factorial = factorial * i
print("The factorial of", num, "is", factorial)

Enter any number: 10

NameError: name 'factorial' is not defined